@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 44 52% 99%;
    --foreground: 44 65% 5%;
    --muted: 44 31% 86%;
    --muted-foreground: 44 12% 39%;
    --popover: 44 52% 98%;
    --popover-foreground: 44 65% 4%;
    --card: 44 52% 98%;
    --card-foreground: 44 65% 4%;
    --border: 44 15% 93%;
    --input: 44 15% 93%;
    --primary: 44 58% 88%;
    --primary-foreground: 44 58% 8%;
    --secondary: 44 8% 81%;
    --secondary-foreground: 44 8% 21%;
    --accent: 44 8% 81%;
    --accent-foreground: 44 8% 21%;
    --destructive: 17 81% 27%;
    --destructive-foreground: 17 81% 87%;
    --ring: 44 58% 88%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 44 49% 1%;
    --foreground: 44 21% 97%;
    --muted: 44 31% 14%;
    --muted-foreground: 44 12% 61%;
    --popover: 44 49% 2%;
    --popover-foreground: 44 21% 98%;
    --card: 44 49% 2%;
    --card-foreground: 44 21% 98%;
    --border: 44 15% 12%;
    --input: 44 15% 12%;
    --primary: 44 58% 88%;
    --primary-foreground: 44 58% 8%;
    --secondary: 44 13% 19%;
    --secondary-foreground: 44 13% 79%;
    --accent: 44 13% 19%;
    --accent-foreground: 44 13% 79%;
    --destructive: 17 81% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 44 58% 88%;
  }
}


