package templates

templ Home() {
  <div class="bg-black">
    <div class="container mx-auto">
      <h1 class="text-4xl text-white">Home</h1>
      <p class="text-white">Welcome to the home page</p>
    </div>
</div>

}